.inner-protfolio-wrap {
  display: flex;
  /* gap: 30px; */
  flex-wrap: wrap;
}

.portfolio {
  width: 25%;
  flex-wrap: wrap;
  margin-top: 3 0px;
}

.folio-m {
  border: 1px solid #ffb800;
  margin: auto;
  width: 90%;
  height: 200px;
  margin-top: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projet {
  background-size: 100% 100%;
  position: relative;
  background-color: rebeccapurple;
}
.finkara {
  background-image: url("../../assests/images/finkara.png");
}
.bounce {
  background-image: url("../../assests/images/bounceweb.png");
}
.wickedride {
    background-image: url("../../assests/images/wickedride.png");
}

.quorier {
    background-image: url("../../assests/images/quorier.png");
}

.healthcaremagic {
    background-image: url("../../assests/images/healthcaremagic.png");
}
.project-title {
  background: rgb(0 0 0 / 65%);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: "Inter", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bold;
  transition: letter-spacing 1s;
}

.project-title:hover {
  transition: letter-spacing 1s;
  letter-spacing: 15px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .portfolio {
    width: 50%;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .portfolio {
    width: 100%;
  }
}
